
/*---------responsive-----------------*/
@media screen and (max-width:600px ){
  .boutoncontact{ 
    display:none;
  }
  .carousel{
    display:none;

  }
  .contactbg{
    padding:10px;
    font-size:15px;}

  h1{
    font-size:10px;
  }
  .container{
    margin-left:40px;
  }
.home-newsletter{
  padding:10px 0;
}
}

/*..........style navbar.....*/
.bg-gradient{
background-color:black;
}
.navbar-nav{
  color:white;
  position: relative;
  margin-left:auto;
  font-weight:bold;
  padding-right:20px;
}
.nav-link:hover{color:rgb(19, 158, 135) !important;}
.navbar-brand { 
  margin-left:20px;
  font-size:20px;
  font-weight:bold;
  

}
.nav-link{
  color:white;
}

h1{

    text-transform: uppercase;

  }

 .rest ,u {
   color:rgb(216, 50, 128);
  }
   

p{
  font-size:18px;
}

body{  
font-family:Volkhov;
}


  /*........................style bouton contact...........................*/

  .boutoncontact{
    position:absolute;
    top:78vh;
    left:35vh;
    padding:10px;
    width:30vh;
    background-color:black;
    border-radius:10px;
    color:white;
    font-size:20px
  }
  .boutoncontact:hover{
    transform: scale(1.05);
  }

.carousel-caption{
  position:relative;
  margin-bottom:60%;
}


/*---------------------------------------------notre équipe---------------------------*/
.card-title{
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
}
.text-card{
padding-bottom: 10px;

}

.post{
  padding:0px;
  margin:0p;
  font-style: italic;
  font-weight: bold;
}


.contactbg{
margin-top: 100px;
font-style: italic;
font-weight:bold;
font-size: 25px;
padding:70px 50px;
background-image: url(image/back.jpg);
background-repeat: no-repeat;
background-size: cover;
color:whitesmoke;

}
.bg{ 
height:550px;
width:100%;
}


/*.titre{ 
position:absolute;
top:40%;
left:40px;
}*/

.btn-lg{
  margin-left:10px;;
  margin-top:40px;
  width:40vh;
  
}


    
     /*.......social media icon bar........*/
     .icon-bar {
      position: fixed;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    
    /*........ Style the icon bar links......... */
    .icon-bar a {
      display: block;
      text-align: center;
      padding: 10px;
      transition: all 0.3s ease;
      color: white;
      font-size: 18px;
    }
    
    /*..... Style  social media icons .... */
    .icon-bar a:hover {
      background-color: rgb(15, 3, 10);
    }


    .facebook {
      background:rgb(15, 29, 226);
      color: white;
      border-radius: 10px;
    }
    
    .twitter {
      background: #55ACEE;
      color: white;
      border-radius: 10px;

    }
    .linkedin {
      background: #007bb5;
      color: white;
      border-radius: 10px;}
    .youtube {
        background: #bb0000;
        color: white;
        border-radius: 10px;
      }
    
/*...........Newsletter................*/
    .home-newsletter {
        margin-top:30vh;
        padding: 30px 0;
        background: rgba(190, 139, 192, 0.933);
        }
        
        .home-newsletter .single {
        max-width: 650px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        z-index: 2; }
        .home-newsletter .single h2 {
        font-size: 20px;
        color: white;
        text-transform: uppercase;
        margin-bottom: 40px; }
        .home-newsletter .single .form-control {
        height: 50px;
        background: rgba(255, 255, 255, 0.6);
        border-color: transparent;
        border-radius: 20px 0 0 20px; }
        .home-newsletter .single .form-control:focus {
        box-shadow: none;
        border-color: #243c4f; }
        .home-newsletter .single .btn {
        min-height: 50px; 
        border-radius: 0 20px 20px 0;
        background: #243c4f;
        color: #fff;
        }


/*--------------------------------------style carte----------------------------------------*/

        .card
        {
        box-shadow: 3px 3px gainsboro;
        height:50px;
        }
        .card:hover{transform: scale(1.05);
       }
       .card-img-top{
         height:200px;
      }
      

 /*..........................................footer.......................................*/
footer{

    padding-top:5px;
    background-color:rgba(208, 214, 219, 0.933);
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align:center;
    
   
  }
  .icon{
    display: flex;
    justify-content:flex-end;
    margin-right:30px;
    margin-top:10px;
  }
  i:hover{
    transform: scale(1.2)
  }
  
  

/*..............................................Contact..............................................*/
.section-content{
  text-align: center;
  padding-top: 40px;
}
.section-header{
    text-align: center; 
    padding-bottom:10px;
  }

  .contact{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  margin-left:5vh;
}
.map{
  display: flex;
  flex-direction:column;
  justify-content:space-between;
}
.coordonnées{

  line-height:30px;
  font-size:17px;
}
  
  /*----------------------  style du formuaire  ----------------------------*/

  .form{
    padding-top: 60px ;
 }

  
  .form-control{
    width:10px;
    font-size: 1.3em;
    color: #080808;
    border-radius:30%;
    box-shadow: 2px 2px rgb(136, 170, 233) ;
    
  }
  
  /*----------------------  style bouton envoyer   ----------------------------*/
  .btn-info{
    font-size: 1.1em;
    background-color: rgb(46, 179, 196);
    color: #fff;
    margin-left:59vh;
    padding:10px;

  }

  /*----------------------------------------------------expertise------------------------------------------*/
  
  /*--------------------------------------------style image clients ---------------------------------------*/


  .clients{ 
   height:300px;
   width:90%;
   box-shadow: #9eb3c5 2px 2px;
  }
  .clients:hover{
    transform: scale(1.05);
  
  }